
<div class="col-12 post-media">

    <br><br>

    <h3>{{post.message_html|safe}}</h3>

    <div class="media-body">

        <h5 class="media-heading">

            <time class="time">
                
                <span class="username"><a href="{% url 'posts:for_user' username=post.user.username%}">@{{post.user.username}}</a></span>

                {{post.create_date}}

                <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">View Details</a>

            </time>

        </h5>

        <br>
        
        <div class="media-footer">

            {% if user.is_authenticated and post.user == user %}

                <div class="btn-group" role="group">
            
                    <a href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-danger">Delete Post</a>
                    
                    <a class="btn btn-danger" href="{% url 'posts:delete' pk=post.pk %}"><i class="fas fa-trash-alt"></i></a> 

                </div>

                <br>
                <br>
                <br>
                <br>

            {% endif %}

        </div>

    </div>

    <br><br>

</div>