
<div class="col-12 post-media">

    <br><br>

    <h3>{{post.message_html|safe}}</h3>

    <div class="media-body">

        <strong>{{post.user.username}}</strong>

        <h5 class="media-heading">

            <span class="username"><a href="{% url 'posts:for_user' username=post.user.username%}"></a></span>

            <time class="time">

                <a href="{% url 'posts:single'  username=post.user.username pk=post.pk %}"></a>

            </time>

        </h5>
        
        <div class="media-footer">

            {% if user.is_authenticated and post.user == user %}

                <div class="btn-group" role="group" hidden="hide_delete">
            
                    <a href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-danger">Delete Post</a>
                    
                    <a class="btn btn-danger" href="{% url 'posts:delete' pk=post.pk %}"><i class="fas fa-trash-alt"></i></a> 

                </div>

                <br>
                <br>
                <br>
                <br>

            {% endif %}

        </div>

    </div>

    <br><br>

</div>