{% extends "posts/post_base.html" %}

{% block prepost %}

    <div class="col-6">

        <br><br><br>

        {% if request.user.is_authenticated %}

            <div class="card card-with-shadow">

                <div class="card-body">

                    <h5 class="card-title">Your Groups</h5>

                    <ul class="list-unstyled">

                        {% for member_group in get_user_groups %}

                            <li class="group li-with-bullet"><a href="{% url 'groups:single' slug=member_group.group.slug %}"></a></li>
                        
                        {% endfor %}

                    </ul>

                </div>

            </div>

            <br><br><br>

            <div class="btn-group" role="group">
        
                <a href="{% url 'posts:create' %}" class="btn btn-md btn-fill btn-warning">Create New Post</a>
    
                <a href="{% url 'posts:create' %}" class="btn btn-md btn-fill btn-warning"><i class="fas fa-plus"></i></a>
    
            </div>
        
        {% endif %}

        <br><br><br>

        <div class="card card-with-shadow">

            <div class="card-body">

                <h5 class="card-title">All Groups</h5>

                <ul class="list-unstyled">

                    {% for other_group in get_other_groups %}

                        <li class="group li-with-bullet"><a href="{% url 'groups:single' slug=other_group.slug %}"></a></li>
                    
                    {% endfor %}

                </ul>

            </div>

        </div>

    </div>

{% endblock prepost %}


{% block post_content %}

    <div class="col-6">

        <br><br><br>

        {% for post in post_list %}

            {% include "posts/_post.html" with hide_delete=False %}
        
        {% endfor %}

    </div>

{% endblock post_content %}

