.techfont{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}